@import 'resources';

.sort-wrapper{
	width: 100%;
	height: 50px;
	position: relative;
	@include center-items;
	span.sort-by{
		display: inline-block;
		color: #B3B6BF;
	}
	.wrap-dd-select{
		display: inline-block;
		background: none;
		border: none;
		box-shadow: none;
		color: #C5C5C5;
		.dropdown{
			top: 20px;
			background: none;
			border: 1px solid #D8D8D8;
			box-shadow: none;
			background: #fff;
		}
	}
	.sort{
		position: absolute;
		right: 0;
	}
}

.posts-list{
	margin: 0;
	padding: 0;
	.list__item, &.list{
		border: none !important;
	}
	.item{
		width: 100%;
		background: #fff;
		padding: 25px;
		padding-bottom: 0;
		&:not(:last-child) .middle{
			border-bottom: 1px solid #DDECF1;
		}
		.top{
			overflow: hidden;
			font-size: 12px;
			margin-bottom: 20px;
			i{
				margin-right: 5px;
			}
			.featured, .non-featured{
				float: left;
				font-weight: 700;
				&.featured{
					color: #F5A625;
				}
				&.non-featured{
					color: #C0C0C0;
				}
			}
			.publish-date{
				float: right;
				color: #BABAC4;
			}
		}
		.middle{
			overflow: hidden;
			@include center-items;
			padding-bottom: 20px;
			.type-title{
				float: left;
				width: 50%;
				.type, .title, .author{
					margin: 0;
				}
				.type{
					color: #CBDDE1;
					font-size: 14px;
					letter-spacing: 3px;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
				.title{
					color: #4F4E5C;
					font-size: 23.5px;
					font-weight: 700;
					margin-bottom: 10px;
					text-transform: capitalize;
				}
				.author{
					font-size: 12px;
					color: #A9A8B6;
					letter-spacing: 1px;
				}
			}
			.options{
				width: 50%;
				float: right;
				.buttons{
					float: right;
				}
				button{
					cursor: pointer;
					padding: 12.5px 40px;
					color: white;
					border-radius: 4px;
					font-size: 12px;
					font-weight: 700;
					transition: 0.3s background;
					&:not(:last-child){
						margin-right: 10px;
					}
					&.archive{
						background: #CBDDE1;
						&:hover{
							background: #B0C8CD; 
						}
					}
					&.edit{
						background: #B9E986;
						&:hover{
							background: #A4D76E;
						}
					}
					&.trash{
						padding: 15px;
						background: #EB657D;
						&:hover{
							background: #D4435D;
						}
					}
				}
			}
		}
	}
}

.new-post{
	.main{
		width: 70%;
		float: left;
		padding-right: 10px;
	}
	.side{
		width: 30%;
		float: right;
		.module-name{
			@include center-items;
			font-weight: 700;
			color: #C5C5C5;
			padding-left: 10px;
			span{
				width: 71%;
			}
			.action{
				float: right;
				padding: 10px 20px;
				border-radius: 4px;
				transition: 0.3s background;
				font-size: 12px;
				cursor: pointer;
				color: #fff;
				background: #B9E986;
				&:hover{
					background: #A4D76E;
				}
			}
		}
		.side-row{
			margin-bottom: 10px;
			width: 100%;
			background: #fff;
			padding: 10px;
		}
		.publish-draft{
			overflow: hidden;
			button{
				width: 49%;
				padding: 10px 20px;
				border-radius: 4px;
				transition: 0.3s background;
				font-size: 12px;
				cursor: pointer;
			}
			.publish{
				float: left;
				color: #fff;
				background: #B9E986;
				&:hover{
					background: #A4D76E;
				}
			}
			.draft{
				float: right;
				color: #C0C0C0;
				background: #fff;
				&:hover{
					background: #F3F3F3;
				}
			}
		}
		.categories{
			margin-bottom: 10px;
			.wrap-dd-select{
				padding: 20px;
				display: inline-block;
				width: 100%;
				background: #fff;
				border-radius: 0;
				border: none;
				box-shadow: none;
				color: #C5C5C5;
				.dropdown{
					width: 100%;
					top: 30px;
					left: 0;
					background: none;
					border-radius: 0;
					border: none;
					box-shadow: none;
					background: #fff;
				}
			}
		}
		.cover-image{
			width: 100%;
			.no-image{
				height: 200px;
				background-color: #E8E8E8;
				@include center-items;
				p{
					width: 100%;
					text-align: center;
					font-size: 20px;
					font-weight: 700;
					color: #D0D0D0;
					i{
						display: block;
						margin-top: 10px;
					}
				}
			}
			.image{
				position: relative;
				.alt{
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					padding: 10px;
					color: #B9E986;
					background-color: rgba(0,0,0,.6);
				}
				img{
					width: 100%;
				}
			}
		}
		.gallery ul{ 
			position: relative;
			overflow: auto;
			padding: 0;
			max-height: 300px;
			li{
				@include center-items;
				width: 33%;
				border-radius: 4px;
				color: #D5D5D5;
				display: inline-block;
				float: left;
				margin-bottom: 5px;
				padding: 5px;
				position: relative;
				label{
					@include center-items;
					width: 100%;
					height: 100%;
				}
				.remove{
					position: absolute;
					top: 0;
					right: 0;
					margin: 10px;
					color: #fff;
					-webkit-text-stroke-width: 2px;
   					-webkit-text-stroke-color: black;
				}
				img{
					width: 100%;
				}
			}
		}
	}
	input.title{
		width: 100%;
		padding: 15px;
		margin-bottom: 10px;
		font-weight: 700;
		background: #fff;
	}
}

@media only screen and (max-width : 1244px) {
	.new-post{
		.main{
			width: 100%;
			padding: 0;
		}
		.side{
			width: 100%;
			padding: 0;
		}
	}
	.posts-list{
		.middle{
			display: block !important;
		}
		.type-title, .options{
			float: left !important;
			width: 100% !important;
		}
		.options{
			margin-top: 10px !important;
			.buttons{
				float: left !important;
			}
			button{
				padding: 15px 20px !important;
			}
		}
	}
}

@media only screen and (max-width : 320px) {
	.posts-list{
		.middle{
			display: block !important;
		}
		.type-title, .options{
			float: left !important;
			width: 100% !important;
		}
		.options{
			margin-top: 10px !important;
			.buttons{
				float: left !important;
			}
			button{
				padding: 15px !important;
			}
		}
	}
}
